<div class="container-fluid bkimg" >
  <div style="padding: 3% 0% 3% 0%;">
  <h2 class="center">JOIN OUR MAILING LIST</h2>
  <p class="center">
    <strong >Be the first to hear about upcoming sales, hot trends, and new arrivals.</strong> 
  </p> 
  <div class="container-fluid" style="margin-top: 3%;">
      <form>
          <div class="form-group center txtCtr">
              <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
          </div>
          <div class="form-group center">
              <input type="submit" name="btnSubmit" class="btnContact" value="Sign Up"
              style="background-color: rgb(0, 131, 144); color: beige; 
      box-sizing: content-box; font-size: 15px; padding: 0.5% 3% 0.5% 3%" />
          </div>
        </form>
  </div>
  </div>
</div>