<app-carousel-panel></app-carousel-panel>
<div class="row" style="background:#272424!important;">
    <div  class="col-md-6 col-sm-12" style="margin-bottom: 3%">
            <app-know-mithila-painting></app-know-mithila-painting>
    </div>
    <div class="col-md-6 col-sm-12"  style="margin-bottom: 3%; margin-top: 3%; background-color: beige">
                <app-featured-product></app-featured-product>
        </div>
</div>
<div>
        <app-contact-us></app-contact-us>
</div>
<div>
        <app-subscribe></app-subscribe>
</div>
