<div class="container" style="background-color: beige">
    <h3 style="text-align: center">Featured Products</h3>
    <div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                              <h6 style="text-align: center">Product Name</h6>
                              <img src="http://placehold.it/290x180" class="img-thumbnail">
                              <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                              <h6 style="text-align: center">Product Name</h6> 
                            <img src="http://placehold.it/290x180" class="img-thumbnail">
                            <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="carousel-item ">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                            <h6 style="text-align: center">Product Name</h6>
                            <img src="http://placehold.it/290x180" class="img-thumbnail">
                            <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                            <h6 style="text-align: center">Product Name</h6> 
                          <img src="http://placehold.it/290x180" class="img-thumbnail">
                          <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item ">
                      <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                              <h6 style="text-align: center">Product Name</h6>
                              <img src="http://placehold.it/290x180" class="img-thumbnail">
                              <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 splitHalf" style="padding-left: 18px;">
                              <h6 style="text-align: center">Product Name</h6> 
                            <img src="http://placehold.it/290x180" class="img-thumbnail">
                            <p style="font-style: italic; text-align: center"><i class="fa fa-rupee"></i>400</p>
                          </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
  </div>