<div  style="background:#272424!important; margin-bottom: 20px">
  <h2 class="centre" style=" margin-top: 20px; margin-bottom: 20px;color: wheat;">
    Know About Mithila Painting</h2>
<div class="container">
  <div class="row centre">
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>About</strong>
        </div>
      </a>
      
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>History</strong>
        </div>
      </a>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>Artists</strong>
        </div>
      </a>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>Awards</strong>
        </div>
      </a>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>Famous Work</strong>
        </div>
      </a>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-6">
      <a href="" >
        <div class="fa big">
          <strong>Articles</strong>
        </div>
      </a>
    </div>
  </div>
</div>
</div>