<div  style="background: beige; margin-bottom: 20px">
  <h2 class="centre" style="    margin-top: 20px; margin-bottom: 20px;">Know About Mithila Painting</h2>
<div class="container">
  <div class="row">
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa ">
        About
      </div>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa">
        History
      </div>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa">
        Artists
      </div>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa">
        Awards
      </div>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa screen1-inner">
        Famous Works
      </div>
    </div>
    <div class="gd col-md-4 col-sm-6 col-xs-12">
      <div class="fa">
        Articles
      </div>
    </div>
  </div>
</div>
</div>