.hor{
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.product{
    margin-bottom: 0.5%;
}

.smallScreen{
    display: block;
}

.largeScreen{
  display: none;
}

.splitHalf{
    width: 50%;
}

@media only screen and (min-width: 600px) {
    [class*="largeScreen"] {
      display: block;
    }
    [class*="smallScreen"] {
      display: none;
      }
      [class*="splitHalf"] {
        width: 100%;
        }
  }