<div class="row" style="padding-top: 50px">
  <div class="col-sm-6">
      <img src="./assets/madhubani_art5.jpg" class="float-right" alt="AboutImage">
  </div>

  <div class="col-sm-6">
    <h2 style="color: cornflowerblue">ABOUT US</h2>
      <p class="centre" style="color: white; "><strong>Madhubani painting is one of the many famous Indian art forms. As it is practiced in the Mithila region of Bihar and Nepal, it is called Mithila or Madhubani art. Often characterized by complex geometrical patterns, these paintings are known for representing ritual content for particular occasions, including festivals, religious rituals, etc. The colors used in Madhubani paintings are usually derived from plants and other natural sources. These colors are often bright and pigments like lampblack and ochre are used to create black and brown respectively. Instead of contemporary brushes, objects like twigs, matchsticks and even fingers are used to create the paintings. </strong></p>

      <p class="centre" style="color: white; "><strong>If you have any queries, please send us an email to .......</strong></p>
      
      <p class="centre" style="color: white; "><strong>If you want to apply as an agent, please send us an email to .......</strong></p>      
  </div>
</div>



